# SERVER CONFIGURATION
PORT=3000

# RAPIDAPI SECRET
# A secret string you create. You will provide this to RapidAPI to send in a header.
# This ensures requests are coming from RapidAPI's proxy.
RAPIDAPI_PROXY_SECRET=your_super_secret_string_here